

.block_one {
    
    padding: 18px;
    background-color: #1F2937;
}

.header {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
}

.logo {
    margin-left: 150px;
    flex: 1.8;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    margin-right: 150px;
    gap: 18px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    list-style: none;
    
}

a {
    color: inherit;
    text-decoration: none;
}

.block_one_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block_one_left {
    margin-left: 150px;
}

.block_one_left p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
   background-color: #3882F6;
}

.hero_main_text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.block_one_right {
    margin-right: 150px;
}

.block_one_img {
    height: 300px;
    width: auto;
}